<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medwise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome-all.min.css') }}">
</head>
<body class="is-preload">
    <header id="header" style="overflow: visible; padding-top: 40px; padding-bottom: 20px; text-align: center;">
        <img src="{{ url_for('static', filename='assets/images/logo.jpg') }}" alt="MedWise Logo" style="width: 300px; height: auto; margin-top: 10px; margin-bottom: 20px;">
        <h1>Upload an Image of Medicine</h1>
    </header>
    

    
    <section id="main" class="wrapper">
        <div class="inner">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" required><br><br>
                <label for="langChoice">Select Language:</label>
                <select name="langChoice" id="langChoice">
                    <option value="1">English</option>
                    <option value="2">Chinese</option>
                </select><br><br>
                <button type="submit" class="button primary">Upload and Process</button>
            </form>
            
        </div>
    </section>

    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</body>
</html>

